html {
  scroll-behavior: smooth;
}

nav {
  text-transform: uppercase;
}
.navbar-brand {
  border: 1px solid black;
  padding: 20px;
  font-weight: 800;
  text-decoration: underline;
}

#cta {
  background-image: url("./images/cta.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 100vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
#cta-content {
  padding: 60px 20px;
  color: white;
  background-color: rgb(0, 0, 0, 0.7);
}
#cta h1 {
  font-weight: 800;
}
#cta h2 {
  font-weight: 600;
}
#cta h3 {
  font-weight: 300;
}

#last-card {
  font-size: 2em;
  border: none;
  color: white;
  text-align: center;
}

.cookie-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.8);
  color: #f5f6fa;
  padding: 20px 0;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);

  transition: 400ms;
}

.cookie-container.active {
  bottom: 0;
}

.cookie-container a {
  color: #f5f6fa;
}

#cta-content-privacy {
  padding: 20px 10px;
  height: 100%;
  color: white;
  background-color: rgb(0, 0, 0, 0.7);
}
